{% set query = craft.app.request.getParam('query') %}
{% set index = 'properties' %}
{# {% if sprig.include %} #}
    <input sprig type="search" s-trigger="keyup changed delay:1s" name="query" value="{{ query }}">
{# {% endif %} #}
{{ dump(query) }}
<div id="results">
Results:

{% if query %}
    {% set results = meili.search.search(index, query) %}
    {% if results|length %}
        {% for result in results %}
            <div>{{ dump(result) }}</div>
        {% endfor %}
    {% else %}
        No Results
    {% endif %}
{% endif %}

</div>
