{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = 'Meilisearch' %}

{% block content %}
    {# <form method="POST" action="{{ actionUrl('meilisearch/index/rebuild') }}">

    <h3>Sections</h3>
    {% set sections = settings.getSections() %}
    {% if sections is defined and sections is not empty %}
        {% set options = [] %}
        {% for section in sections %}
            {% set options = options|merge([{
                label: section.name,
                value: section.id
            }]) %}
        {% endfor %}
        {{ forms.checkboxGroupField({
            name: 'sections',
            options: options,
            values: [],
        }) }}
    {% else %}
        No sections are enabled.
    {% endif %}

    <h3>Category Groups</h3>
    {% set groups = settings.getCategories() %}
    {% if groups is defined and groups is not empty %}
        {% set options = [] %}
        {% for group in groups %}
            {% set options = options|merge([{
                label: group.name,
                value: group.id
            }]) %}
        {% endfor %}
        {{ forms.checkboxGroupField({
            name: 'categories',
            options: options,
            values: [],
        }) }}
    {% else %}
        No sections are enabled.
    {% endif %}

    More goes here

    <div class="buttons">
        <div id="test" class="btn formsubmit">{{ "Rebuild"|t('app') }}</div>
    </div> #}
{% endblock %}
